{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": 0,
    "no-unused-vars": 1
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  }
}
