@import "nib"

body
  global-reset()
  background white
  font-family Verdana
  font-size 16px

.poll

  input
    min-width 400px
    font-size 20px
    border-radius 5px
    padding 0.5em
    font-weight bold
    display block
    margin-bottom 30px

  table
    box-shadow 10px 10px 5px #888888
    border 1px solid #3f7f00
    border-radius 5px
    min-width 400px
    height 100%

    tbody

      tr:nth-child(odd)
        background-color white
      tr:nth-child(even)
        background-color #d4ffaa
      tr:hover
        background-color darken(#d4ffaa, 10%)

      td button
        min-width 100px
        min-height 40px
        background transparent
      td button.selected
        outline 2px solid darken(#d4ffaa, 50%)
        font-weight bold

      td, th
        padding 0
        border 1px solid #3f7f00
        border-width 0 1px 1px 0
        text-align left
        font-size 16px
        color black
      th
        padding 0.5em
        font-weight bold

    thead

      th
        padding 0.5em 1em
        background linear-gradient(top, 5% #5fbf00, #3f7f00)
        background-color #5fbf00
        border 0 solid #3f7f00
        text-align center
        border-width 0 0 1px 1px
        font-size 18px
        font-weight bold
        color white

      tr:hover th
        background linear-gradient(bottom, 5% #5fbf00, #3f7f00)
        background-color #5fbf00

  ul
    margin 1em

    li
      margin 0.5em
    li:before
      content "→"
      padding-right 0.5em
